@{
    Layout = "_Layout";
}

<div id="chat">
    <div id="chatbox">
        <div id="messages">
            <div class="message"></div>
        </div>

        <div id="chat-message">
            <textarea>sdfsdsdfs</textarea>

            <div id="message-options">
            </div>

            <div id="message-send">
                <a href="#">
                    <button><img src="#" /></button>
                </a>
            </div>
        </div>
    </div>
    <div id="chat-aside">
        <ul>
            <li>Marie Smith</li>
            <li>John Doe (2)</li>
            <li>Lisa Steeles (1)</li>
            <li>Joanne Johnson</li>
        </ul>
    </div>
</div>