*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.topnav {
    height: 99px;
    width: 100%;
    padding-right: 100px;
    border-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: lightgray;
}

    .topnav input[type=text] {
        margin-left: 100px;
        height: 30px;
        width: 200px;
        background-color: #F1F1F1;
        background-image: url('search.png');
        background-position: 5px 5px;
        background-repeat: no-repeat;
        padding: 12px 20px 12px 25px;
        margin-top: 20px;
    }

    .topnav i {
        position: absolute;
        left: 180px;
        top: 30px;
        color: grey;
    }

    .topnav .button {
        margin-left: 25px;
        background-color: white;
        border: 1px solid lightgrey;
        /*height: 30px;*/
        color: black;
        text-decoration: none;
        vertical-align: middle;
        cursor: pointer;
        display: inline-block;
        font-weight: normal;
        padding: 1%;
        
    }

        .topnav .button:not(:last-child) {
            border-right: 1px solid lightgrey;
        }

        .topnav .button:hover {
            background-color: lightgray;
        }

    #button-text{
       margin-bottom: 100%;
       padding-bottom: 1%;
    }


    .hello {
        color: red;
    }

.sidebar {
    height: 100%;
    width: 74px;
    background-color: #ffffff;
    position: fixed;
    z-index: 1;
    border-style: solid;
    border-right-width: 1px;
    border-right-color: lightgray;
}



.logo {
    height: 100px;
    width: 75px;
    background-color: #4cff00;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    float: left;
}

.maincontent {
    margin-left: 74px;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
}

.a_button {
    width: 74px;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0
}

.b_button {
    width: 74px;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0;
}

.c_button {
    width: 74px;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0;
    background-color: red;
}

div.sidebar img {
    width: 50px;
    height: 50px;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid gray;
}

#latest-activities {
    margin: 20px auto;
    width: 50%;
    height: 5%;
    background-color: #fff;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row: auto auto;
    /*grid-column-gap: 20px;
    grid-row-gap: 20px;*/
    border: 1px solid black;
}

.latest-activty{
    background-color: #333;
    padding: 20px;
    height: 5%;
    /*border-radius: 10px;*/
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-family: sans-serif;
    border: 1px solid black;
}

.profile-pic{
    margin-top: 5px;
    float: right;
    height: 75px;
    width: 75px;
    border: 1px solid white;
    border-radius: 50px;
}

#messages {
    border: 1px solid lightgrey;
    padding: 5%;
    margin: 2% 25%;
    text-align:left;

}
#chat-message textarea{
    border: 1px solid lightgrey;
    width: 50%;
}

#message-send button {
    margin-left: 25px;
    background-color: white;
    border: 1px solid lightgrey;
    /height: 30px;*/
    color: black;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    display: inline-block;
    font-weight: normal;
    padding: 0% 3%;
}