@{
    Layout = "_Layout";
}

<h1>Latest Activities</h1>

<div id="latest-activities">
    <div class="latest-activity">

        <span>
            10/03/2018
            <br />02:00 PM
        </span>

        <img src="#" />
        <h2>Marie Smith</h2>
        <p>Has finished the exercise</p>
    </div>
</div>

<div id="upcoming-consultations">
    <h1>Upcoming Consultations</h1>
    <button>Edit Consultations</button>

    <div class="consultation">
        <img src="#" />

        <div class="consultation-info">
            <h3>Lisa Steeles</h3>

            <ul>
                <li>Date: October 13, 2018</li>
                <li>Time: 9:00 PM</li>
            </ul>
        </div>

        <div class="consultation-activity">
            <ul>
                <li><b>Latest Activity</b>: Jumping Jacks</li>
                <li><b>Date</b>: 10/03/2018</li>
                <li><b>Overall leaderboard</b>: 3rd</li>
            </ul>
        </div>
    </div>


</div>