@{
    Layout = "_Layout";
}

<h1>Patients <span>Total: 4 patients</span></h1>

<div id="patients-table">s
    <img src="#" />

    <div class="patients-info">
        <h2>Joanne Johnson</h2>
        <ul>
            <li>Female, 58</li>
            <li>Early on-set</li>
        </ul>
    </div>

    <div class="patients-cg-info">
        <h2>Caregiver</h2>

        <ul>
            <li>Janet Lee</li>
            <li>1 514 777 8728</li>
        </ul>

        <img src="#" />
    </div>

    <div class="patients-options">
        <ul>
            <li><a href="#">&cross;</a></li>
        </ul>
    </div>
</div>